<div>

    <h1>Recipe</h1>

    <h2>{{recipe.name}}</h2>

    <p>
        <span>Description:</span>
        <br>
        {{recipe.description}}
    </p>

    <p>
        <span>Ingredients</span>
        <br>
        {{recipe.ingredients}}
    </p>

    <p>
        <span>Directions</span>
        <br>
        {{recipe.directions}}
    </p>
</div>